* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  -webkit-font-smoothing: anitialiased;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
em {
  font-style: normal;
}
a,
img {
  border: 0;
}
body {
  font-family: "microsoft yahei";
  font-size: 12px;
}
body a {
  color: #666;
}
.focus {
  width: 100%;
  height: 540px;
  background-color: #f2f2f2;
  font-size: 0;
}
.focus .main {
  width: 100%;
  height: 500px;
  padding: 20px 0;
}
.focus .main .main-con {
  width: 1190px;
  margin-right: auto;
  margin-left: auto;
}
.focus .main .main-con .banner {
  float: left;
  width: 540px;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.focus .main .main-con .middle {
  float: left;
  width: 350px;
  height: 500px;
}
.focus .main .main-con .middle a {
  display: block;
  width: 350px;
  height: 250px;
  overflow: hidden;
}
.focus .main .main-con .right {
  float: left;
  width: 290px;
  margin-left: 10px;
}
.focus .main .main-con .right .right-banner {
  font-family: "microsoft yahei";
  color: #fff;
  width: 290px;
  height: 78px;
  line-height: 94px;
  background-image: -webkit-linear-gradient(left, #62cce6, #41dbc0);
}
.focus .main .main-con .right .right-banner .text {
  font-size: 28px;
  position: relative;
  left: 20px;
  color: #fff;
}
.focus .main .main-con .right .right-banner .btn {
  position: relative;
  top: -6px;
  left: 102px;
}
.focus .main .main-con .right .right-banner .btn i {
  cursor: pointer;
  font-family: iconfont;
  font-style: normal;
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 30px;
  text-align: center;
  background-color: rgba(255,255,255,0.6);
  font-size: 12px;
  color: #4f9a95;
}
.focus .main .main-con .right .right-banner .btn i:hover {
  background-color: rgba(255,255,255,0.8);
}
.focus .main .main-con .right .right-banner .btn .on {
  background-color: rgba(255,255,255,0.4);
}
.focus .main .main-con .right .scroll {
  width: 290px;
  height: 582px;
  overflow: hidden;
  position: relative;
}
.focus .main .main-con .right .scroll .clearfix {
  zoom: 1;
}
.focus .main .main-con .right .scroll .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.focus .main .main-con .right .scroll .tab-content {
  width: 290px;
  overflow: hidden;
  height: 194px;
  position: relative;
}
.focus .main .main-con .right .scroll .tab-content .item {
  position: relative;
  float: left;
}
.focus .main .main-con .right .scroll .tab-content .item a {
  display: block;
  height: 194px;
  overflow: hidden;
}
.focus .main .main-con .right .scroll .tab-content .item a img {
  width: 100%;
}
.focus .main .main-con .right .scroll .tab-content .item .status {
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 110px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background-color: #fe645a;
}
.focus .main .main-con .data {
  float: left;
  height: 140px;
  width: 890px;
  background-color: #fff;
  margin-top: -140px;
}
.focus .main .main-con .data .totle {
  display: inline-block;
  height: 140px;
  text-align: center;
  width: 222px;
  position: relative;
}
.focus .main .main-con .data .totle .text {
  display: inline-block;
  width: 222px;
  font-size: 14px;
  color: #999;
  margin-top: 43px;
}
.focus .main .main-con .data .totle .num {
  display: inline-block;
  width: 222px;
  height: 45px;
  font-size: 30px;
  line-height: 45px;
  color: #666;
}
.focus .main .main-con .data .totle .line {
  display: inline-block;
  width: 1px;
  height: 65px;
  background-color: #00ccce;
  position: absolute;
  right: 0;
  top: 43px;
  transfrom: rotate(20deg);
  -webkit-transform: rotate(20deg);
}
.hot {
  background-color: #c0cfdb;
  background-image: url("../image/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 634px;
  width: 100%;
  overflow: hidden;
}
.hot .title {
  text-align: center;
  font-size: 28px;
  color: #fff;
  padding-top: 28px;
}
.hot .hot-tag {
  color: #fff;
  text-align: center;
  height: 31px;
  line-height: 28px;
  margin-top: 18px;
}
.hot .hot-tag .text {
  font-size: 14px;
}
.hot .hot-tag .tag {
  display: inline-block;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  padding: 0 10px;
  margin-left: 12px;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
}
.hot .hot-tag .tag:hover {
  background-color: #00ccce;
  border: 1px solid transparent;
  border-radius: 3px;
}
.hot .hot-main {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
.hot .hot-main .change {
  position: absolute;
  top: 195px;
  cursor: pointer;
}
.hot .hot-main .change b {
  font-family: iconfont;
  font-size: 40px;
  font-weight: lighter;
  color: #a5a5a5;
}
.hot .hot-main .l {
  left: -40px;
}
.hot .hot-main .r {
  right: -40px;
}
.hot .hot-ul {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.hot .hot-ul .hot-ul-content {
  width: 242px;
  height: 450px;
  overflow: hidden;
}
.hot .hot-ul .hot-ul-content li {
  float: left;
  display: block;
  width: 242px;
  height: 450px;
  position: relative;
}
.hot .hot-ul .hot-ul-content li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.hot .hot-ul .hot-ul-content li .item-title {
  padding-left: 18px;
  color: #2a343f;
  font-size: 24px;
  height: 58px;
  line-height: 58px;
  width: 218px;
}
.hot .hot-ul .hot-ul-content li .des {
  width: 156px;
  padding-left: 18px;
  font-size: 12px;
  color: #99a5b4;
  margin-top: 15px;
  line-height: 18px;
  height: 35px;
}
.hot .hot-ul .hot-ul-content li .text-per {
  font-size: 16px;
  color: #828c98;
  padding-left: 18px;
  margin-top: 30px;
}
.hot .hot-ul .hot-ul-content li .per {
  font-size: 31px;
  color: #00ccce;
  padding-left: 18px;
  height: 40px;
  line-height: 40px;
  font-family: Helvetica;
}
.nav {
  width: 100%;
}
.nav .block-title {
  background-image: url("../image/bg2.png");
  background-repeat: repeat-x;
  width: 1190px;
  margin: 0 auto;
  position: relative;
  margin-top: 63px;
}
.nav .block-title .text {
  display: inline-block;
  width: 136px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 28px;
  color: #333;
  position: relative;
  top: -14px;
  background-color: #fff;
  left: 527px;
}
.nav .block-vice-title {
  height: 10px;
  text-align: center;
  color: #8f8f8f;
  position: relative;
  font-size: 14px;
}
.nav .nav-block {
  width: 1190px;
  margin: 0 auto;
}
.nav .nav-block .info {
  font-size: 0;
  height: 20px;
  line-height: 20px;
  position: relative;
  margin-bottom: 12px;
}
.nav .nav-block .info a {
  color: #5a5a5a;
}
.nav .nav-block .info a .num {
  font-size: 14px;
}
.nav .nav-block .info a .name {
  font-size: 20px;
  margin-left: 3px;
}
.nav .nav-block .info a .icon {
  display: inline-block;
  background-image: url("../image/icon.png");
  background-repeat: no-repeat;
  position: relative;
  width: 13px;
  height: 13px;
  margin-left: 6px;
}
.nav .nav-block .info .line {
  display: inline-block;
  width: 1093px;
  border-bottom: 1px dotted #e9e9e9;
  position: relative;
  top: -7px;
  left: 15px;
}
.nav .nav-list {
  width: 1210px;
  height: 776px;
}
.nav .nav-list li {
  float: left;
  margin: 0 0 18px 20px;
  border: 1px solid #ededed;
  width: 100%;
  height: 370px;
}
.nav .nav-list .nav-item {
  width: 280px;
  background-color: #fff;
}
.nav .nav-list .nav-item .link {
  display: block;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
}
.nav .nav-list .nav-item .link .project-area {
  position: relative;
  display: block;
  width: 100%;
  height: 184px;
  overflow: hidden;
}
.nav .nav-list .nav-item .link .project-area .project-pic {
  display: block;
  width: 100%;
  min-height: 184px;
}
.nav .nav-list .nav-item .link .project-area .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 187px;
  background-color: transparent;
  -webkit-transition: background-color 0.5s;
}
.nav .nav-list .nav-item .link:hover .shadow {
  background-color: rgba(99,99,99,0.3);
}
.nav .nav-list .nav-item .link .project-intro {
  line-height: 22px;
  overflow: hidden;
  display: block;
  width: 250px;
  font-size: 15px;
  background-color: #fff;
  color: #2a2a2a;
  margin: 11px 15px;
  height: 42px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.nav .nav-list .nav-item .tag-con {
  display: block;
  width: 250px;
  margin: 7px auto 22px;
  height: 23px;
  overflow: hidden;
}
.nav .nav-list .nav-item .tag-con .tag {
  display: inline-block;
  height: 23px;
  color: #999;
  line-height: 23px;
  background-color: #f0f0f0;
  padding: 0 8px;
  margin-right: 8px;
  cursor: pointer;
}
.nav .nav-list .nav-item .tag-con .tag:hover {
  background-color: #d2d2d2;
}
.nav .nav-list .nav-item .bar {
  height: 6px;
  width: 250px;
  display: block;
  background-color: #ededed;
  border-radius: 5px;
  margin: 0 auto;
}
.nav .nav-list .nav-item .bar .bar-in {
  display: block;
  height: 6px;
  vertical-align: top;
  background-color: #00cccd;
  border-radius: 5px;
  width: 100%;
}
.nav .nav-list .nav-item .project-sch {
  display: block;
  font-size: 0;
  margin-top: 15px;
}
.nav .nav-list .nav-item .project-sch .other-info {
  display: inline-block;
}
.nav .nav-list .nav-item .project-sch .other-info .every-info {
  display: inline-block;
}
.nav .nav-list .nav-item .project-sch .other-info .info-deal {
  width: 58px;
  padding-left: 16px;
}
.nav .nav-list .nav-item .project-sch .other-info .info-deal .info-num {
  font-size: 14px;
  line-height: 14px;
  color: #333;
}
.nav .nav-list .nav-item .project-sch .other-info .info-deal .info-name {
  font-size: 12px;
  margin-top: 5px;
  color: #999;
}
.nav .nav-list .nav-item .project-sch .other-info .info-dollar {
  width: 144px;
}
.nav .nav-list .nav-item .project-sch .other-info .info-dollar .info-num {
  font-size: 14px;
  line-height: 14px;
  color: #333;
}
.nav .nav-list .nav-item .project-sch .other-info .info-dollar .info-name {
  font-size: 12px;
  margin-top: 5px;
  color: #999;
}
.nav .nav-list .nav-item .project-sch .other-info .info-support {
  width: 55px;
  padding-right: 22px;
}
.nav .nav-list .nav-item .project-sch .other-info .info-support .info-num {
  font-size: 14px;
  line-height: 14px;
  color: #333;
}
.nav .nav-list .nav-item .project-sch .other-info .info-support .info-name {
  font-size: 12px;
  margin-top: 5px;
  color: #999;
}
.nav .nav-list .nav-item .project-sch .other-info em {
  display: inline-block;
  width: 100%;
  color: #d2d2d3;
  text-align: center;
}
.nav .nav-list .full {
  position: relative;
  border: 0;
}
.nav .nav-list .first {
  margin-left: 0;
}
.nav .nav-list .first .main-img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.nav .nav-list .first .first-link {
  display: block;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  height: 370px;
  position: relative;
  z-index: 2;
}
.nav .nav-list .first .first-link .item-info {
  display: block;
  width: 260px;
  height: 63px;
  color: #fff;
  position: absolute;
  z-index: 2;
  left: 28px;
  top: 27px;
}
.nav .nav-list .first .first-link .item-info .name {
  font-size: 24px;
  line-height: 24px;
}
.nav .nav-list .first .first-link .item-info .money {
  font-size: 14px;
  line-height: 14px;
  margin-top: 10px;
}
.nav .nav-list .first .first-link .item-info .money .yen {
  font-style: normal;
  font-family: arial;
}
.nav .nav-list .first .first-link .item-info .item-link {
  display: block;
  width: 100px;
  height: 31px;
  background-color: #fff;
  line-height: 31px;
  text-align: center;
  font-size: 14px;
  margin-top: 19px;
  cursor: pointer;
  color: #78c9e3;
}
.nav .nav-list .first .first-link .item-info .item-link .text {
  position: relative;
  left: 4px;
}
.nav .nav-list .first .first-link .item-info .item-link .icon {
  font-family: iconfont;
  position: relative;
  top: -1px;
  font-size: 14px;
}
.nav .weekly {
  width: 100%;
  height: 310px;
  margin-top: 20px;
}
.nav .weekly .weekly-content {
  width: 1190px;
  margin: 0 auto;
}
.nav .weekly .weekly-content .item-detail {
  float: left;
  width: 890px;
  height: 310px;
  position: relative;
  background-color: #ececec;
}
.nav .weekly .weekly-content .item-detail .indicate {
  transfrom: top 0.2s;
  position: absolute;
  right: 0;
  font-size: 0;
  width: 0;
  height: 0;
  display: block;
  border-color: transparent #ff6458 transparent transparent;
  border-style: solid;
  border-width: 15px;
}
.nav .weekly .weekly-content .item-detail a .box {
  display: block;
  width: 850px;
  height: 270px;
  background-color: #fafafa;
  margin: 20px;
}
.nav .weekly .weekly-content .item-detail a .box .image {
  display: block;
  float: left;
  width: 410px;
  height: 270px;
  overflow: hidden;
}
.nav .weekly .weekly-content .item-detail a .box .image img {
  max-width: 410px;
}
.nav .weekly .weekly-content .item-detail a .box .info {
  float: left;
  width: 420px;
  padding-left: 20px;
}
.nav .weekly .weekly-content .item-detail a .box .info .title {
  display: block;
  width: 370px;
  height: 59px;
  padding: 15px 0 20px;
  font-size: 16px;
  font-weight: 700;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.nav .weekly .weekly-content .item-detail a .box .info .money-title {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #666;
}
.nav .weekly .weekly-content .item-detail a .box .info .current-money {
  margin-top: 5px;
  display: block;
  font-size: 25px;
  color: #00cccf;
  font-family: impact sans-serif;
}
.nav .weekly .weekly-content .item-detail a .box .info .current-money .yen {
  font-family: arial;
}
.nav .weekly .weekly-content .item-detail a .box .info .status {
  display: block;
  width: 395px;
  height: 80px;
  padding: 20px 0;
}
.nav .weekly .weekly-content .item-detail a .box .info .status .bar .schedule-bar {
  float: left;
  display: block;
  width: 325px;
  height: 10px;
  margin-bottom: 15px;
  background-color: #e5e5e5;
  box-shadow: 0 1px 0 rgba(200,200,200,0.8) inset;
  border-radius: 5px;
}
.nav .weekly .weekly-content .item-detail a .box .info .status .bar .schedule-bar >i {
  width: 100%;
  height: 10px;
  display: block;
  background-image: url("../image/bg.gif");
  background-size: 20px 20px 100% 100%;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-position: 0px 1px;
  -webkit-animation: progress 0.8s linear infinite;
  border-radius: 5px;
}
.nav .weekly .weekly-content .item-detail a .box .info .status .bar .percentage {
  margin-top: -2px;
  font-size: 14px;
  float: left;
  display: block;
  padding-left: 10px;
  color: #666;
}
.nav .weekly .weekly-content .item-detail a .box .info .status .data {
  width: 100%;
  clear: both;
  display: block;
}
.nav .weekly .weekly-content .item-detail a .box .info .status .data span {
  float: left;
  display: block;
}
.nav .weekly .weekly-content .item-detail a .box .info .status .data .support-number,
.nav .weekly .weekly-content .item-detail a .box .info .status .data .time-left {
  color: #666;
  overflow: hidden;
}
.nav .weekly .weekly-content .item-detail a .box .info .status .data .man {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../image/man.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.nav .weekly .weekly-content .item-detail a .box .info .status .data .time {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../image/time.png");
  background-size: 100%;
}
.nav .weekly .weekly-content .item-detail a .box .info .status .data .data-number {
  padding-left: 5px;
  padding-right: 15px;
  font-size: 14px;
  color: #00cccf;
}
.nav .weekly .weekly-content .item-detail a .box .info .desc {
  padding-top: 10px;
  float: left;
  width: 370px;
  height: 85px;
  font-size: 14px;
  color: #666;
  overflow: hidden;
  line-height: 20px;
}
.nav .weekly .weekly-content .right-panel {
  margin-left: -5px;
  float: left;
  padding-left: 5px;
  width: 305px;
  height: 320px;
  overflow: hidden;
}
.nav .weekly .weekly-content .right-panel li {
  position: relative;
  width: 305px;
  height: 62px;
  float: left;
  background-color: #b3bfc7;
  cursor: pointer;
}
.nav .weekly .weekly-content .right-panel li:hover {
  height: 62px;
}
.nav .weekly .weekly-content .right-panel li:hover .info-con {
  border: 0;
}
.nav .weekly .weekly-content .right-panel li:hover .info-con .project-title {
  display: none;
}
.nav .weekly .weekly-content .right-panel li:hover .info-con .support-num {
  height: 61px;
  line-height: 61px;
  font-size: 16px;
  color: #fff;
}
.nav .weekly .weekly-content .right-panel li i {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  display: block;
  overflow: hidden;
  float: left;
  font-family: ArialMT;
  font-style: italic;
  font-size: 38px;
  font-weight: lighter;
  color: #efecec;
  text-align: center;
  line-height: 60px;
}
.nav .weekly .weekly-content .right-panel li .info-con {
  width: 230px;
  height: 60px;
  margin-left: 70px;
  border-bottom: 1px solid #c0c9d0;
}
.nav .weekly .weekly-content .right-panel li .info-con .project-title {
  display: block;
  font-size: 16px;
  color: #fff;
  width: 210px;
  height: 32px;
  line-height: 20px;
  padding-top: 12px;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.nav .weekly .weekly-content .right-panel li .info-con .support-num {
  display: block;
  font-size: 12px;
  color: #efecec;
}
.hidden {
  display: none;
}
@-moz-keyframes progress {
  0% {
    background-position: -20px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes progress {
  0% {
    background-position: -20px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-o-keyframes progress {
  0% {
    background-position: -20px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes progress {
  0% {
    background-position: -20px 0;
  }
  100% {
    background-position: 0 0;
  }
}
